module load singularity StdEnv/2020  intel/2020.1.217 boost/1.72.0
module load plink/2.00-10252019-avx2


export LC_ALL=C.UTF-8  ###weird language bug hot fix

#Parameters to be chosen
export wkdir=                                   ##The one with the subscripts
export njobs=                                   ## Splits nb SNPs into bucket for step 1 lv 0,1 and step 2
export SIF=                                     # Path to image
export OutDir=                                  #Path to out directory
export InDir=                                   #Path to directory with bfile, covar file, and phenotype file
export bfile=                                   #Name of bfile (.bim .fam etc), implementation of other file type to be done
export CovarName=                               #Name of covariant file (format specified by REGENIE)
export PheName=                                 #Name of phenotype file (format specified by REGENIE)
export Bsize=                                   #Number of Nb SNP into sub-buckets
#export phe_step=                               #not yet implemented
export nameaccount=                             #Slurm account name

#plinkSpecific
export maf=0.01                                 #Minimum allele frequency
export mac=100                                  #Minimum allele count
export geno=0.1                                 #Exclude variant with missing call
export HWE=1e-15                                #HW-equilibrium
export mind=0.1                                 #Exclude sample with missing call
export qc_pass=qc_pass	                        #outfile

