params {
  genotypes_file = "[PATH]/[file]"			//Modeling SNPs file PGEN or BGEN (both with associate file in directory) (S1 File)
  gwas_genotypes_files  = "[PATH]/[file]"   //Association testing SNPs file  PGEN or BGEN (both with associate file in directory) (S2 Files)
  
  pheno_file = "[PATH]/[file]"				//see read.me
  covar_file = "[PATH]/[file]"				//Single
  CatCovar="" 						//Comma separated Categorical Variables (max 10), if none ->""
  OutDir="[PATH_OUTPUT_DIR]"                                      //Path to out directory

//Testing
RINT=true // Rank Inverse Normal Transformation (RINT) to quantitative phenotypes for non binairy
BinaryTrait=true // Accepted Value TRUE/FALSE // For binairy trait phenotypes
  //if TRUE
  firth=true      // Accepted Value TRUE/FALSE // Apply Firth likelihood ratio test correction // If not TRUE applies SPA
    //if TRUE
    approx=true   // Accepted Value TRUE/FALSE 
  pThresh=0.05       // [0-1] // threshold for firth/SPA correction

test="additive" // Accepted value dominant/recessive/additive
//Parallelization
  njobs=                                       //SNPs parrallelisation step 1 (nb jobs/1st dimension) not implemented for LOCO analysis by definition
  PheStep=                                     //Phenotype parralelisation (nb jobs/2nd dimension)]
  SnpStep = 					//SNPs parrallelisation step 2 (1st dimention) (i.e. total nb of SNPs / snpstep = nb jobs @ second step)
  Bsize=1000                                   //Number of Nb SNP into sub-buckets
                        //    Threads  ## optimal with CPU below
  Threads_S_10=1 //step 1.0: Split into Ridges
  Threads_S_11=2 //step 1.1: Ridge predictions
  Threads_S_12=2 //step 1.2: LOCO predictions
  Threads_S_2=2  //step 2 :  Association testing

}

singularity {

	enabled = true
	autoMounts = true
}


process {
withLabel: 'STEP_1_0|STEP_1_1|STEP_1_2|Asscociation_testing' {
container = "file:///path/to/regenie_v2.2.4.gz.sif"
    }
	  
withLabel: 'STEP_1_0' {    // Spliting for ridge prediction
  cpus = 1
  time = "1h"
  memory = "1GB"
    }

withLabel: 'STEP_1_1' {    // Ridge prediction
  cpus = 2
  time = "1h"
  memory = "1GB"
    }

withLabel: 'STEP_1_2' {    // LOCO analysis
  cpus = 2
  time = "4h"
  memory = "2GB"
    }
    
withLabel: 'Asscociation_testing' {      // Association testing
  cpus = 2
  time = "4h"
  memory = "8GB"
 }
 withLabel: 'Merging' {      // Association testing
  cpus = 1
  time = "1h"
  memory = "1GB"
    }
  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = ""
  cpus = 1
  time = "12h"
  memory = "10GB"
}

executor {
        $slurm {
              queueSize = 100
              jobName = { "Regenie" }
        }
        $local {
                cpus = 1
        }
}
