//Standards are defined by the Regenie paper's treatment of UKBioBank data.

params {
   // Name of the output directory
   OutDir=""

   // Convert to PGEN or BGEN
   format="PGEN"

   // Path to the VCF/BCF files
   genotypes_file=""

   // Low complexity regions. Possible values: HG19.Dust_RepeatMasker, HG19.RepeatMasker, HG38.Dust_RepeatMasker, HG38.RepeatMasker
   lcr_regions = "HG38.Dust_RepeatMasker"
   //Long Range High LD regions. Possible Values : HG38.Anderson2010 and HG19.Anderson2010 (from Anderson **et al.** 2010)  
   ld_regions = "HG38.Anderson2010"
   // Alternate filtering method to LCR
   hapmap = "" //possible value HG38.hapmap3

   // STANDARD FILTERING
   maf=0.01        // Minimum allele frequency
   geno=0.01          // Maximum Missing genotype frequency per-variant
   mind=0.1          // Maximum Missing genotype frequency per-sample
   HWE=1e-15          // Hardy-Weinberg  threshold
   Rsq=0.9
   // Naming scheme option
   name='--double-id'

   // Executables
   // Specify path to the plink2 executable
   plink2_exec="plink2"

   // When converting to BGEN format, specify path to the qctool and bgenix executables
   bedtools_exec = "bedtools"
   qctool_exec="/home/dtaliun/projects/def-dtaliun/shared/bin/qctool"
   bgenix_exec="/home/dtaliun/projects/def-dtaliun/shared/bin/bgenix"
}

process {
  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = ""
  cpus = 1
  time = "10h"
  memory = "20GB"
}
