
params {
   // Input:
   genotype_files="/full/path/to/chr*.vcf.gz*" // Path to VCF/BCF files with the corresponding TBI/CSI index files. One file per chromosome.
   // Other input examples:
   //genotype_files="/full/path/to/chr*.{pgen,psam,pvar}" // Path to PLINK2 PGEN files with the corresponding PSAM and PVAR files.
   //genotype_files="/full/path/to/chr*.{pgen,sample}" // Path to BGEN files with the corresponding .sample file.

   // Output:
   output_dir="pruning_results"
   output_format="PGEN" // Save LD-pruned variants in PGEN (PLINK2) or BGEN
   name="--double-id" // Used only when input is in VCF/BCF. Causes both family and individual IDs in the *.psam file to be set to the sample ID from VCF/BCF. Set to empty (i.e. "") to disable. See https://www.cog-genomics.org/plink/2.0/input#sample_id_convert for other options.

   // Filtering
   lcr_regions = "HG38.Dust_RepeatMasker" // Low complexity regions. Possible values: 'HG19.Dust_RepeatMasker', 'HG19.RepeatMasker', 'HG38.Dust_RepeatMasker', 'HG38.RepeatMasker'.
   ld_regions = "HG38.Anderson2010" // Long Range High LD regions. Possible Values : 'HG38.Anderson2010' and 'HG19.Anderson2010' (from Anderson **et al.** 2010)  
   hapmap_sites = "" // Set to 'HG38.hapmap3' if you want to keep only HapMap 3 variant sites
   maf=0.01 // Minimum allele frequency
   geno=0.1 // Maximum Missing genotype frequency per-variant
   mind=0.1 // Maximum Missing genotype frequency per-sample
   HWE=1e-15  // Hardy-Weinberg test P-value threshold
   
   // LD pruning
   Rsq=0.9 // Minimal r^2 to consider variants in LD

   // Chromosome X
   params.nonpar_region = "chrX:2781480-155701382" // Coordinates of the chrX non-PAR region on the GRCh38 build. This option is used only when processing chrX in VCF/BCF format to determine the ploidy of the individuals and pass this information to PLINK2. Important: if you don't correctly set males as haploids (i.e. having 0 or 1 genotypes) in your input VCF/BCF files, then the chromosome X processing in PLINK2 may be invalid.
   
   // Runtime:
   plink2_exec="plink2" // Specify path to the plink2 executable
   qctool_exec="/path/to/bin/qctool" // Specify location of the QCTOOL executable when working with BGEN files. Not used if you work only with VCF/BCF and PGEN.
   bgenix_exec="/path/to/bin/bgenix" // Specify location of the BGENIX executable when working with BGEN files. Not used if you work only with VCF/BCF and PGEN.
}

process {
   executor = "slurm"
   clusterOptions = "--account=rrg-vmooser" // can add --account=[] to cluster Options
}
