params {
   // Name of the output directory
   OutDir=""

   // Output format
   format="PGEN"

   // Path to the VCF/BCF/PGEN/BGEN
   genotypes_file=""

   // Low complexity regions. Possible values: HG19.Dust_RepeatMasker, HG19.RepeatMasker, HG38.Dust_RepeatMasker, HG38.RepeatMasker
   lcr_regions = "HG38.Dust_RepeatMasker"
   //Long Range High LD regions. Possible Values : HG38.Anderson2010 and HG19.Anderson2010 (from Anderson **et al.** 2010)  
   ld_regions = "HG38.Anderson2010"

   // STANDARD FILTERING
   maf=0.01        // Minimum allele frequency
   geno=0.99          // Maximum Missing genotype frequency per-variant
   mind=0.99          // Maximum Missing genotype frequency per-sample
   HWE=1e-15          // Hardy-Weinberg  threshold
   Rsq=0.3            // clumping Rsq Threshold
   // Naming scheme option ( possible values : '', '--double-id', '--id-delim [delimiter]') Depends on the naming scheme within vcfs
   name=''

   // Executables
   // Specify path to the plink2 executable
   plink2_exec="plink2"

   // When converting to BGEN format, specify path to the qctool and bgenix executables
   qctool_exec="/home/dtaliun/projects/def-dtaliun/shared/bin/qctool"
   bgenix_exec="/home/dtaliun/projects/def-dtaliun/shared/bin/bgenix"
}

process {
  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = ""
  cpus = 1
  time = "10h"
  memory = "100GB"
}
