params {
  // Input:
  imputed_genotype_files="/full/path/to/chr*.vcf.gz*" // Path to the imputed genotypes (dosages) in VCF/BCF format with the corresponding TBI/CSI index files. One file per chromosome..

  // Options:
  vcf_field="GT" // VCF/BCF format field to import.  Possible values when converting to PGEN (PLINK2): "GT", "DS". Possible values when converting to BGEN: "GT", "GP". Default: "GT".

  // Output:
  output_dir="convertion_results"
  output_format="PGEN" // Convert VCF/BCF to PGEN (PLINK2) or BGEN
  name="--double-id" // Causes both family and individual IDs in the *.psam file to be set to the sample ID from VCF/BCF. Set to empty (i.e. "") to disable. See https://www.cog-genomics.org/plink/2.0/input#sample_id_convert for other options.

   // Chromosome X
   params.nonpar_region = "chrX:2781480-155701382" // Coordinates of the chrX non-PAR region on the GRCh38 build. This option is used only when processing chrX in VCF/BCF format to determine the ploidy of the individuals and pass this information to PLINK2. Important: if you don't correctly set males as haploids (i.e. having 0 or 1 genotypes) in your input VCF/BCF files, then the chromosome X processing in PLINK2 may be invalid.

   // Runtime:
   plink2_exec="plink2" // Specify path to the plink2 executable when converting to PGEN files.
   bcftools_exec="bcftools" // Specify path to the bcftools executable when converting to PGEN files.
   qctool_exec="/path/to/bin/qctool" // Specify location of the QCTOOL executable when converting to BGEN files.
   bgenix_exec="/path/to/bin/bgenix" // Specify location of the BGENIX executable when converting to BGEN files.
}


process {
   executor = "slurm"
   clusterOptions = "--account=rrg-vmooser" // can add --account=[] to cluster Options
}
