params {
  // Name of the output directory
  OutDir="Results_bgen_gt"              //## Directory for output
                                            //plink script Specific
  // Path to the VCF/BCF files
  VCF_files="[PATH]/[File]"
  
  // Convert to PGEN or BGEN
  format="BGEN"

  // VCF field to import. 
  // Possible values when converting to PGEN (PLINK2): "GT", "DS".
  // Possible values when converting to BGEN: "GT", "GP".
  vcf_field="GT"

  // Executables
  // When converting to PGEN format, specify path to the plink2 executable
  plink2_exec="plink2"
  
  // When converting to BGEN format, specify path to the bcftools, qctool, and bgenix executables
  bcftools_exec="bcftools"
  qctool_exec="/home/dtaliun/projects/def-dtaliun/shared/bin/qctool_v2.2.0"
  bgenix_exec="/home/dtaliun/projects/def-dtaliun/shared/bin/bgenix" 
}

process {
  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = "--account=rrg-vmooser"
  cpus = 1
  time = "8h"
  memory = "10GB"
}
