//Standards are defined by the Regenie paper's treatment of UKBioBank data.

params {
   // Name of the output directory
   OutDir="Result_phased_bgen/"

   // Convert to PGEN or BGEN
   format="PGEN"

   // Path to the VCF/BCF files
   VCF_files="[PATH]/*.vcf.gz"

   // Low complexity regions. Possible values: HG19.Dust_RepeatMasker, HG19.RepeatMasker, HG38.Dust_RepeatMasker, HG38.RepeatMasker
   lcr_regions="HG19.Dust_RepeatMasker"

   // STANDARD FILTERING
   maf=0.01        // Minimum allele frequency
   geno=0.99          // Maximum Missing genotype frequency per-variant
   mind=0.99          // Maximum Missing genotype frequency per-sample
   HWE=1e-15          // Hardy-Weinberg  threshold

   // Executables
   // Specify path to the plink2 executable
   plink2_exec="/home/dtaliun/projects/def-dtaliun/shared/bin/plink2"

   // When converting to BGEN format, specify path to the qctool and bgenix executables
   qctool_exec="/home/dtaliun/projects/def-dtaliun/shared/bin/qctool_v2.2.0"
   bgenix_exec="/home/dtaliun/projects/def-dtaliun/shared/bin/bgenix"
}

process {

  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = "--account=rrg-vmooser"
  cpus = 1
  time = "3h"
  memory = "4GB"
}
