//Standards are defined by the Regenie paper's treatment of UKBioBank data.

params {
  OutDir="[PATH]/"              //## Directory for output
                                            
VCF_files="[PATH]/[NAME]"    //## Input genotype file files (vcf.gz or bcf extensions)
                             //## Index are requiered (.csi or  .tbi extension)

bed = "[PATH]/[NAME]" // bed file format of low complexity/repeat regions (can be found within the util file)

// STANDARD FILTERING
maf=0.01        //## Minimum allele frequency
geno=0.99          //## Maximum Missing genotype frequency per-variant
mind=0.99          //## Maximum Missing genotype frequency per-sample
HWE=1e-15           //## Hardy-Weinberg equilibrium test limit

//Other

Plink2_Options="" //Additionnal Optionnal options
                  //if there is no Family ID && using the PGEN version consider --double-id
}

process {
  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = ""
  cpus = 1
  time = "12h"
  memory = "10GB"
}
