params {
  OutDir=""              //## Directory for output
                                            //plink script Specific
VCF_files="" //##or VCF or BCF
VCF_files_indexes="" //##or VCF or BCF

//##Default no filtering ##
maf=0        //## Minimum allele frequency
geno=1          //## Maximum Missing genotype frequency per-variant
mind=1          //## Maximum Missing genotype frequency per-sample

//Other

Plink2_Options=""   //##add covar file if there is one
//if there is no Family ID && using the PGEN version consider --double-id
mem="10G"

}

process {
  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = ""
  cpus = 1
  time = "12h"
  memory = "10GB"
}
