params {

  OutDir="[PATH]/"              //## Directory for output
                                            //plink script Specific
VCF_files="[PATH]/[NAME].vcf.gz"
VCF_files_indexes="[PATH]/[NAME].vcf.gz.tbi"

outname = "" //## name of the concat dataset (only used when converting many-to-one)
maf=0        //## Minimum allele frequency
geno=1          //## Maximum Missing genotype frequency per-variant
mind=1          //## Maximum Missing genotype frequency per-sample
HWE=1         //## Hardy-Weinberg equilibrium tests

//Other

Plink2_Options=""   //##add covar file if there is one

}

process {
  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = ""
  cpus = 1
  time = "12h"
  memory = "10GB"
}
