dag.overwrite=true
params {
  genotypes_file = ""			//Modeling SNPs file PGEN or BGEN (both with associate file in directory) (S1 File)
  gwas_genotypes_files  = ""   //Association testing SNPs file  PGEN or BGEN (both with associate file in directory) (S2 Files) ** File name pattern need to start with a file specific identifier (e.g. chr1) followed by "_".
  
  covar_file = ""
  pheno_file = ""				//Single
  CatCovar=""						//Comma separated Categorical Variables (max 10), if none ->""
  OutDir=""                                      //Path to out directory
  rint = '--apply-rint' 				// Apply Rank inverse normal transformation

//Parallelization
  njobs= 5                                    //SNPs parrallelisation step 1 (nb jobs/1st dimension) not implemented for LOCO analysis by definition
  PheStep= 10                                   //Phenotype parralelisation (nb jobs/2nd dimension)]
  SnpStep = "10000000"					//SNPs parrallelisation step 2 (1st dimention) (i.e. total nb of SNPs / snpstep = nb jobs @ second step)
  Bsize= "1000"                                  //Number of Nb SNP into sub-buckets
                        //    Threads  ## optimal with CPU below
  Threads_S_10=1 //step 1.0: Split into Ridges
  Threads_S_11=2 //step 1.1: Ridge predictions
  Threads_S_12=2 //step 1.2: LOCO predictions
  Threads_S_2=2  //step 2 :  Association testing

}

apptainer {

	enabled = true
	autoMounts = true
}


process {
withLabel: 'STEP_1_0|STEP_1_1|STEP_1_2|Asscociation_testing' {
container = "/scratch/vct/Software/regenie_v3.3.gz.sif"
    }
	  
withLabel: 'STEP_1_0' {    // Spliting for ridge prediction
  cpus = 1
  time = "1h"
  memory = "1GB"
    }

withLabel: 'STEP_1_1' {    // Ridge prediction
  cpus = 2
  time = "2h"
  memory = "1GB"
    }

withLabel: 'STEP_1_2' {    // LOCO analysis
  cpus = 2
  time = "4h"
  memory = "2GB"
    }
    
withLabel: 'Asscociation_testing' {      // Association testing
  cpus = 2
  time = "10h"
  memory = "6GB"
 }
 withLabel: 'Merging' {      // Association testing
  cpus = 1
  time = "1h"
  memory = "1GB"
    }
  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = ""
  cpus = 1
  time = "12h"
  memory = "10GB"
}

executor {
        $slurm {
              queueSize = 500
              jobName = { "Regenie" }
        }
        $local {
                cpus = 1
        }
}
